#services {
  background-color: #fff;
  color: #0cb29c;
  margin: 0 auto 50px auto; }

.no-gutters:hover .caption {
  opacity: 0.7;
  color: #000;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.services-frame {
  position: relative;
  overflow: hidden; }

.pic-one {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-one {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-one:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-two {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-two {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-two:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-three {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-three {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-three:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-four {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-four {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-four:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-five {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-five {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-five:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-six {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-six {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-six:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-seven {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-seven {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-seven:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.pic-eight {
  background: url(/images/men-procedures.jpg) center no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .pic-eight {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
      .pic-eight:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); } }

.card-img {
  min-width: 90px;
  min-height: 60px; }
  @media (min-width: 768px) {
    .card-img {
      min-width: 100%;
      min-height: 177px; } }
  @media (min-width: 992px) {
    .card-img {
      width: 100%; } }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.caption {
  font-size: 16px;
  color: #fff;
  padding: 17px 0 0 0;
  background-color: #0cb29c;
  min-width: 90px;
  min-height: 60px;
  margin-bottom: 10px;
  text-align: center; }
  @media (min-width: 1200px) {
    .caption {
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .caption {
      height: 60px;
      padding-left: 0; } }
  @media (min-width: 992px) {
    .caption {
      width: 100%; } }
  @media (min-width: 1200px) {
    .caption {
      width: 100%; } }

/*# sourceMappingURL=styles.full.css.map */
